---
import type { PokemonListResponse } from "../interfaces/pokemon-list.response";
import MainLayout from "../layouts/MainLayout.astro";
import PokemonCard from "../components/PokemonCard.astro";

const resp = await fetch("https://pokeapi.co/api/v2/pokemon");
const data = await resp.json() as PokemonListResponse;
console.log(data);


const title = "😺 Pokemon Static | Home"
---

<MainLayout title={title}>
	<h1 class="my-2">😺 Pokemon's list</h1>
	<hr class="my-4" />

	<section aria-label="Pokemon's list" class="grid grid-cols-3 gap-4 sm:grid-cols-3 md:grid-cols-4 lg:grid-cols-5">  
		{
			data.results.map((pokemon) => {
				return <PokemonCard pokemon={pokemon} />
			})
		}

	</section>
</MainLayout>
